<!--Content Section-->
<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">

        <div class="col-3">
            <blockquote class="testimonial text-right bigtest">
                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua</q>
                <footer>— John Doe, Happy Customer</footer>
            </blockquote>
        </div>

        <div class="col-3">
            <div class="section-heading">
                <h3>{{services.tagLine}}</h3>
                <h2 class="section-title">{{services.title}}</h2>
                <p class="section-subtitle">{{services.description1}}</p>
            </div>
            <p>
                {{services.description2}}
            </p>
            <p>
                {{services.description3}}
            </p>
            <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>

        <div class="col-3">
            <img src="assets/images/dancer.jpg" alt="Dancer"/>
        </div>

    </div>


</div>
<!--End of Content Section-->