<!--Introduction-->
<section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>{{intro.tagLine}}</h3>
                <h2 class="section-title">{{intro.title}}</h2>
                <p class="section-subtitle">{{intro.description}}</p>
            </div>

        </div>

        <div class="col-2-3">

            <div class="col-2 icon-block icon-top wow fadeInUp" *ngFor="let item of introContents" data-wow-delay="0.1s">
                <div class="icon">
                    <i class="{{item.icon}}"></i>
                </div>
                <div class="icon-block-description">
                    <h4>{{item.title}}</h4>
                    <p>{{item.description}}</p>
                </div>
            </div>

            <!-- <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s"></div>
                <div class="icon">
                    <i class="fa fa-bolt fa-2x"></i>
                </div>
                <div class="icon-block-description">
                    <h4>Easy to Use</h4>
                    <p>Cu vero ipsum vim, doctus facilisi sea in. Eam ex falli honestatis repudiandae, sit
                        detracto mediocrem disputationi</p>
                </div>
            </div>

            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <div class="icon">
                    <i class="fa fa-tablet fa-2x"></i>
                </div>
                <div class="icon-block-description">
                    <h4>Fully Responsive</h4>
                    <p>Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit debet ea sit, an pro
                        nemore vivendum</p>
                </div>
            </div>

            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <div class="icon">
                    <i class="fa fa-rocket fa-2x"></i>
                </div>
                <div class="icon-block-description">
                    <h4>Parallax Effect</h4>
                    <p>Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit debet ea sit, an pro
                        nemore vivendum</p>
                </div>
            </div> -->

        </div>

    </div>


</section>
<!--End of Introduction-->