<section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>{{intro.tagLine}}</h3>
                <h2 class="section-title">{{intro.title}}</h2>
                <p class="section-subtitle">{{intro.description}}</p>
            </div>

        </div>

        <div class="col-2-3">

            <div class="col-2 icon-block icon-top wow fadeInUp" *ngFor="let item of introContents" data-wow-delay="0.1s">
                <div class="icon">
                    <i class="{{item.icon}}"></i>
                </div>
                <div class="icon-block-description">
                    <h4>{{item.title}}</h4>
                    <p>{{item.description}}</p>
                </div>
            </div>

        </div>

    </div>
</section>