<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{testimonials.tagLine}}</h3>
            <h2 class="section-title">{{testimonials.title}}</h2>
        </div>

        <blockquote class="col-3 testimonial classic" *ngFor="let item of testimonialsContent">
            <img src="{{item.image}}" alt="User"/>
            <q>{{item.content}}</q>
            <footer>{{item.customer}}</footer>
        </blockquote>

    </div>

</aside>